md-toolbar(md-theme="scixiv")
  .md-toolbar-tools
    md-button.sc-auth-menu.md-icon-button(ui-sref="user.posts")
      img.fit(ng-src="{{vm.bloger.avatar_url}}", alt="gravatar")
    span(flex)
    h1(ng-bind="Show.post.title")
    span(flex)
    md-button(href="https://www.scixiv.com")
      | Sci &#183; Xiv
      md-icon keyboard_arrow_right


div(layout="row", layout-padding)
  div(flex='20', flex-sm="0")
  div(flex="60", flex-sm="80")
    div(ng-if="Show.publication", layout="row")
      md-button.md-icon-button(ng-click="Show.publication = undefined")
        md-icon.md-dark(md-font-set="material-icons") remove_circle_outline
      md-autocomplete(
        flex, md-search-text="Show.searchText",
        md-items="item in Show.queryJournals(Show.searchText)",
        md-delay="500",
        md-item-text="item.name",
        md-selected-item="Show.publication.journal",
        md-selected-item-change="Show.log( Show.publication)",
        placeholder="Recommend to an Journal for publication")
        md-item-template
          div(ng-bind="item.name")
          p(ng-bind="item.desc")
        md-not-found No matches found for "{{Show.searchText}}".
      md-button(ng-click="Show.publication.$save()",
        ng-disabled="!Show.publication.journal.id") create

    div(ng-bind-html="Show.post.content")
  div
    md-toolbar(layout="row", layout-align="center center", md-theme="scixiv")
      md-button.md-icon-button(ui-sref="user.posts({id: Show.post.user.id})")
        img.fit(ng-src="{{Show.post.user.avatar_url}}", alt="gravatar")


div(layout="row", ng-repeat="comment in Show.post.comments", layout-padding)
  div(flex='20', flex-sm="0")
  div(flex="60", flex-sm="80")
    h4(ng-bind="comment.title")
    div(ng-bind-html="comment.content")
  div
    md-toolbar(layout="row", layout-align="center center", md-theme="scixiv")
      md-button.md-icon-button(ui-sref="user.posts({id: comment.user.id})")
        img.fit(ng-src="{{comment.user.avatar_url}}", alt="gravatar")

div(layout="row", layout-padding)
  div(flex='20', flex-sm="0")
  div(flex="60", flex-sm="80")
    h3
      | leave your &nbsp;
      md-icon comment
      a(ng-href="https://www.scixiv.com/articles/{{Show.post.id}}") comment
      | &nbsp; through scixiv.com
